:root {
    --bg-color-blue : #183D6E;
    --bg-color-red: #C14040;
    --bg-color-light-blue: #345F9F;
}

.main-color{
    background-color: var(--bg-color-blue);
}

.home-bg{
    background-image: url(../images/Home.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
}

.home-bg h1 {
    background-color: #183d6ec9;
}

.box-aval-prod{
    width: 100%;
    background-color: var(--bg-color-blue);
}

.title-aval-prod{
    height: 30vh;
}

.title-aval-prod h2{
    background-color: var(--bg-color-red);
}

.select-style{
    background-color: var(--bg-color-red);
    border: none;
}

.form-select{
    height: 5vh;
    width: 95%;
}

.input-group{
    height: 5vh;
    width: 95%;
}

.card{
    background-color: var(--bg-color-light-blue);
}

.btn{
    background-color: var(--bg-color-red);
    padding: 0.8rem 2.5rem;
    transition: 0.5s;
}

.btn:hover {
    border: var(--bs-border-width) solid var(--bg-color-red); 
}

.bg-img-card{
    background-color: #fff;
    min-height: 30vh;
}

.page-link{
    background-color: transparent;
    border: transparent;
}

.page-link:hover{
    background-color: var(--bg-color-light-blue);
}

.bg-num{
    background-color: var(--bg-color-red);
}